.create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f5;

  .create-account {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2%;
    padding: 1.5rem;
    background-color: #fff;
    width: 400px;

    h2 {
      padding: 0;
      margin: 0;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;
      text-align: center;
      width: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;

      .field {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
          font-size: 0.9rem;
          margin-bottom: 0.5rem;
          color: #555;
          text-align: left;
        }
        input {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 100%;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
      .button {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
